

/* 마이페이 전체 레이아웃 */
.Container{
    background-color:#f2f5fa;
    width: 100%;
}
/* 마이페이지 상단 이미지와  글자 */
.mainImg{
    height: 300px;
    width: 100%;
    position: relative;
    z-index: 1;
}
.mainText{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    color: white;
    font-size: 50px;
    z-index: 2;
    font-weight: 600;
    font-size: 80px;
    border-bottom: 10px solid white;

}


.gridBox{
    width:80%;
    min-height: calc(90vh - 100px);
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.MyInfo{
    background-color: f2f5fa;
    width: calc(100% / 3);
    height:calc(90vh - 180px);
    margin-top: 10px;
    padding: 10px;
}

.MyButtons{
    width: 90%;
    height:60px;
    display: flex;
    justify-content:space-around;
}
.Kcal{
    background-color:f2f5fa;
    width: calc(100% / 3);
    height:calc(90vh - 250px);

}

.ChallengeManag{
    width: calc(100% / 4);
    height:calc(90vh - 200px);
    margin-top: 20px;
    background-color: white;
    border-top:10px solid #00aeda ;
    border-bottom:10px solid #00aeda ;
    padding: 20px;
    margin-right: 90px;
    & button{
        margin-bottom: 10px;
        &#btn1{
            margin-right: 5px;
            border: 1px solid #00aeda;
            padding: 5px;
            background-color: white;
            border-radius: 20px;
        &:hover{
            background-color: #00aeda;
        }
        }
        &#btn2{
            margin-right: 5px;
            border: 1px solid #00aeda;
            padding: 5px 8px;
            background-color: white;
            border-radius: 20px;

        &:hover{
            background-color: #00aeda;
        }
        }
        /* 챌린지 리스트 진행중+완료 */
        & .ChallengeItem{
            background-color: red;
        }
        /* 진행중 인증버튼 */
        &.AuthButton{
            background-color: #00aeda;
            padding: 0 5px;
            margin-left: 15px;
        }
    }
}

.Calendar{
    margin-top: 20PX;
    height: 455px;
    border: none;
    padding: 20px;
    border-top:10px solid #00aeda ;
    border-bottom:10px solid #00aeda ;

}
/* .MyInfo나의 정보관리 CSS -------------------------------------------------*/
.BgInfo{
    background-color: #ffffff;
    width: 300px;
    height: 450px;
    border-top:10px solid #00aeda ;
    border-bottom:10px solid #00aeda ;
    padding: 20px;

}
.ImgBtn{
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: #aecbfd;
    margin-bottom: 10px;
    cursor: pointer;
    & input[type="file"]{
        display:none
    }
    & .profile{
        cursor: pointer;
    }
    & button{
        margin-left: 5px;
        font-size: 10px;
        background-color: f2f5fa;
        color: white;
        border: none;
        padding: 3px 5px;
        border-radius: 5px;
        &:hover{
            background-color: white;
            color: #4483FD;
        }
    }
}

.profileImg{
    width:200px;
    height:185px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto;
}

.Nick{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }
.Lv {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color:#888181;
}


/* 닉네임을 변경할까요? */
.changname{
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: #aecbfd;
    margin-bottom: 10px;
    cursor: pointer;
}
/* 닉네임을 입력해주세요 input */
.changBtn{
    display: flex;
    justify-content: center;
    border: none;
}

/* myinfo팔로우*/
.followImg{
    width: 25px;
    height: 25px;
    margin-top: 6px;
    border-radius: 50%;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(184, 182, 182);
}

.followDel{
    margin: 3px;
}
.followBtn{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-left: 23px;
    margin-top: 10px;
    /* border-bottom: 1px solid black; */
}
/* 챌린지 인증 모달 */
.CertificationList{
    & img{
        width: 30px;
        height: 30px;
    }
}


/* Kcal css----------------------------------------------------------------------------------*/
.KcalWrite{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border-top:10px solid #00aeda ;
        border-bottom:10px solid #00aeda ;

    & h2{
        margin: 20px 20px 30px 20px;
    }
    & div{
        margin: 10px;
    }
    & label{
        display: inline;
    }

    & .sum{
        font-size: 20px;
        margin: 20px;
    }
}
/* 칼로리모달창 계산하기 버튼 */
.btn3{
    background-color: #00aeda;
    padding: 0px 5px;
}

/* mybuttons -----------------------------------------------------------------------------------------*/
.MadeChallenge{
    margin-left: 70PX;
    padding: 20px 40px;
    border-radius: 15px;
    border: none;
    background-color: #00aeda;
    cursor: pointer;
}

.PurchaseList{
    padding: 20px 40px;
    border-radius: 15px;
    border: none;
    background-color: #00aeda;
    cursor: pointer;
}
/* 챌린지개설기획서 */
.MadeModal {
    width: 400px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f5fa;
    padding: 10px;


    & #mainImg{
        display: none;

    }
    &#label{
        cursor: pointer;
    }
    & label{
        margin: 20px;
    }
    & button{
        background-color: #00aeda;
        margin: 20px;
    }
}
.name{
    background:#00aeda;
    padding: 5px;
    text-align: center;
    color: white;
}
.image{
    & p{
        background-color: red;

        display: flex;
        justify-content: flex-start;
    }
    & img{
        margin-bottom: 20px;
        background-color: #1b3364;
        display: flex;
        justify-items: end;
        width: 150px;
        height: 150px;
    }
}