.mainImg{
    height: 300px;
    width: 100%;
    position: relative;
    z-index: 1;
}
.mainText{
    position: absolute;
    top:10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    color: white;
    z-index: 2;
    font-weight: 600;
    font-size: 80px;
    border-bottom: 10px solid white;

}
/* 나의 정보  */
.MyInfo{
    margin-top: 50px;
    display: flex;
    justify-content: center;

}
/* 프로필이미지.닉네임.레벨.포인트 */
.Info1{
    margin: 40px 40px;
    padding: 10px;
    background-color: #00aeda;
    height: 600px;

}
.MyInfos{
    width: 300px;
    text-align: center;
}
#profileImg{
    width: 300px;
    height: 300px;
    border-radius: 10%;
    margin-bottom: 20px;
}
.ImgBtn{
    display: none;
}
.ProfileText{
    font-size: 10px;
    color:white;
}
.changname{
    margin-top: 0px;
    font-size: 10px;
    color:white;
}
.Nick{
    font-size: 30px;
}
.Lv{
    background-color: white;
}
.Points{
    background-color: white;
}
.Challengg{
    color: white;
    font-size: 35px;
}
.FollowAndChallenge{
    margin-top:20px
}

/* 팔로우팔로잉 */
.Info2{
    display: inline;
    margin: 40px 20px;
    padding: 10px;
}
/* 버튼 두개합한거 */
.followBtn {
    height: 50px;
    width: 300px;
    display: flex;
    justify-content:space-between;
    height: 50px;
    border-bottom:3px solid #00aeda;
    border-top:3px solid #00aeda;
    }

.followLists{
    width: 300px;
    height: 200px;
    overflow: auto;
    margin-right: 10px;
    margin-left: 0;
}
.followImg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.followUl{
    background-color: #f2f5fa;
    list-style: none;
    padding: 0;
}
.followUl li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(117, 117, 117);
    padding: 10px;
}
/* 진행중.완료 리스트 */
.ChallengeManag{
    list-style: none;
    padding: 0;
    margin-top: 50px;
    height: 400px;
    width: 310x;
}
.ChallengeMap{
    height: 300px;
    overflow: auto;
    height: 200px;

}
.btn1{
    height: 50px;
    width: 300px;
    display: flex;
    justify-content:space-between;
    height: 50px;
    border-bottom:3px solid #00aeda;
    border-top:3px solid #00aeda;
}
.btn2{
    border: 0;
    background-color: white;
    margin: 0px 10px;
    cursor: pointer;
}
.ChallengeLists{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    margin: 10px 5px;
}
/* 인증버튼 */
.AuthButton{
    margin: 5px 5px;
    border: none;
    background-color: #00aeda;
    border-radius: 10%;
}

/* 칼로리 */
.kcals{
    margin: 40px 40px;
}
/* 챌린지 구매목록 */
.Buttons{
    margin: 40px 60px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.MadeChallenge{
    background-color: #00aeda;
    border: none;
    padding: 5px;
    width: 100px;
    border-radius: 20px;
}
.PurchaseList{
    background-color: #00aeda;
    border: none;
    padding: 5px;
    width: 100px;
    border-radius: 20px;
}

/* 챌린지 인증 모달  */
.CertificationImg{
    width: 40px;
    height: 40px;

}
.CertificationList{
    border-bottom: 1px solid black;
}

/* 칼로리 작성 모달창 */
.KcalWrite{
    border-bottom: 10px solid #00aeda;
    border-top: 10px solid #00aeda;
    background-color: white;
    right: auto;
    bottom: auto;
    width: 500px;
    height: 500px;
    margin-top: 20%;
    margin-left: 30%;
    margin-bottom: 50%;
    transform: translate(-10%, -30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}
.FoodKcal{
    margin: 10px;
}
.btn3{
    margin: 10px;
}
.btn4{
    background-color: #00aeda;
    border: none;
    padding: 5px;
    width: 100px;
    border-radius: 20px;
}
/* 챌린지 기획서 */
.MadeModal {
    width: 500px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f5fa;
    padding: 10px;
    overflow: auto;
    & #Click{
        color: gray;

    }
    & #mainImg{
        display: none;
    }
    & label{
        margin: 5px;
    }

    & button{
        background-color: #00aeda;
        border: none;
        margin: 5px;
        width: 100px;
        border-radius: 20px;
    }
    & input{
        margin: 10px;
    }
    .Input {
        width: 90%;
        height: 100px;
        margin: 10px;
    }
}
.name{
    background:#00aeda;
    padding: 5px;
    text-align: center;
    color: white;
}
.image{
    & p{
        background-color: red;
        display: flex;
        justify-content: flex-start;
    }
    & img{
        margin-bottom: 20px;
        background-color: #1b3364;
        display: flex;
        justify-content: center;
        width: 150px;
        height: 150px;
    }
}