
/* 마이페이 전체 레이아웃 */
.Container{
    background-color:#4483FD;
    width: 100%;
}
.gridBox{
    width:80%;
    min-height: calc(90vh - 100px);
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.MyInfo{
    background-color: #4483FD;
    width: calc(100% / 3);
    height:calc(90vh - 180px);
    margin-top: 10px;
    padding: 10px;
}

.ChallengeManag{

    width: calc(100% / 3);
    height:calc(90vh - 200px);
    margin-top: 20px;
    background-color: white;
}

.MyButtons{
    width: 90%;
    height:60px;
    display: flex;
    justify-content:flex-end;
}
.Kcal{
    background-color:#4483FD;
    width: calc(100% / 3);
    height:calc(90vh - 250px);
    margin-top: 10px
}

/* .MyInfo나의 정보관리 CSS -------------------------------------------------*/
.BgInfo{
    background-color: #ffffff;
    width: 300px;
    height: 450px;
    box-shadow: 1px 1px 5px 1px #1b3364;
    padding: 20px;

}
.ImgBtn{
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: #aecbfd;
    margin-bottom: 10px;
    cursor: pointer;
    & input[type="file"]{
        display:none
    }
    & .profile{
        cursor: pointer;
    }
    & button{
        margin-left: 5px;
        font-size: 10px;
        background-color: #4483FD;
        color: white;
        border: none;
        padding: 3px 5px;
        border-radius: 5px;
        &:hover{
            background-color: white;
            color: #4483FD;
        }
    }
}

.profileImg{
    width:200px;
    height:185px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto;
}

.Nick{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }
.Lv {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color:#888181;
}


/* 닉네임을 변경할까요? */
.changname{
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: #aecbfd;
    margin-bottom: 10px;
    cursor: pointer;
}
/* 닉네임을 입력해주세요 input */
.changBtn{
    display: flex;
    justify-content: center;
    border: none;
}

/* myinfo팔로우*/
.followImg{
    width: 25px;
    height: 25px;
    margin-top: 6px;
    border-radius: 50%;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(184, 182, 182);
}

.followDel{
    margin: 3px;
}
.followBtn{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-left: 23px;
    margin-top: 10px;
    /* border-bottom: 1px solid black; */
}


/* Kcal css----------------------------------------------------------------------------------*/
.KcalWrite{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border-radius: 5px;
    & h2{
        margin: 20px 20px 30px 20px;
    }
    & div{
        margin: 10px;
    }
    & label{
        display: inline;
    }
    & input {

    }
    & .sum{
        font-size: 20px;
        margin: 20px;

    }
    & button{
        display:flex;
        justify-content:right;


    }

    }

/* mybuttons -----------------------------------------------------------------------------------------*/
.MadeChallenge{
    margin-left: 70PX;
    padding: 20px 40px;
    border-radius: 15px;
    border: none;
    background-color: #F8C514;
    cursor: pointer;
}

.PurchaseList{
    padding: 20px 40px;
    border-radius: 15px;
    border: none;
    background-color: #F8C514;
    cursor: pointer;
}
/* 챌린지개설기획서 */
.Calendar{
    margin-top: 20PX;
    height: 350px;
    border: none;
    padding: 20px;
}
.name{
    background:#4483FD;
    padding: 5px;
    text-align: center;
    color: white;
}
.image{
    & p{
        background-color: red;
        display: flex;
        justify-content: flex-start;
    }
    & img{
        background-color: #1b3364;
        display: flex;
        justify-items: end;
    }
}