
.form {
  /* background-color: #F4F4F4; */
  margin: auto;
  width: 940px;
  margin-bottom: 80px;
}

/* 구매목록 텍스트 */
.purchase_title {
  width: 940px;
  margin: auto;
  margin-bottom: 40px;
}

/* 주문내역 검색 div */
.search_list {
  width: 900px;
  margin: 5px auto;
}

/* input, 검색버튼, 초기화 버튼 큰 div */
.search_box {
  background-color: rgb(236, 236, 236);
  width: 900px;
  height: 60px;
  display: flex;
  justify-content: center;
}

/* input + button 을 감싸고 있는 div */
.input_button {
  align-items: center;
  justify-content: center;
  display: flex;
}

.input {
  width: 400px;
  height: 30px;
  text-align: center;
  margin-right: 5px;
  border: none;
  box-shadow: 1px 1px 2px gray;
}

.search_button {
  height: 30px;
  width: 60px;
  font-weight: 600;
  background-color: #4483FD;
  border: none;
  margin-right: 4px;
  box-shadow: 1px 1px 2px #174194;
  color: white;
  cursor: pointer;
}

.search_button:active {
  box-shadow: 1px 1px 4px #174194 inset;
  background-color: #326de4;
}

.reset_button {
  height: 30px;
  width: 60px;
  font-weight: 600;
  border: none;
  box-shadow: 1px 1px 4px rgb(150, 150, 150);
  cursor: pointer;
}

.reset_button:active {
  box-shadow: 1px 1px 4px #8b8b8d inset;
  background-color: #dadada;
}


/* search_box가 정렬이 잘 되지 않아서 겉에다가 랩핑함  */
.sort_box {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

/* 주문내역 텍스트 */
.order_list {
  width: 900px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.table {
  width: 900px;
  margin: auto;
  border-collapse: collapse;
}

/* 주문내역 table 제목 */
.order_title {
  background-color: #4483FD;
  height: 30px;
  color: white;
  
}

/* 날짜, 물품정보, 배송상태, 상세보기 간격 */
.order_date {
  width: 100px;
}

.order_info {
  width: 350px;
}

.order_state {
  width: 150px;
}

.order_detail {
  width: 150px;
}

/* 사용자가 주문한 내용 정보  */
.add_prd {
  text-align: center;
  border-bottom: 1px solid rgb(202, 202, 202);
  height: 120px;
  background-color: #F4F4F4;
}

/* 구매확정, 반품/교환, 후기작성 공통 */
.button {
  display: flex;
  justify-content: center;
  width: 75px;
  height: 25px;
  margin: auto;
  margin-bottom: 4px;
  border: none;
  background-color: #4483FD;
  color: white;
  line-height: 2;
  cursor: pointer;
}

.button:active {
  box-shadow: 1px 1px 4px #174194 inset;
  background-color: #326de4;
}

.table_container {
  margin-bottom: 20px;
}