/* 오른쪽 끝이 객체들이 짤려서 설정 */
body {
  width: 100vw;
}

.container {
  margin-bottom: 100px;
}

/* 카드 전체 묶음 div */
.product_container {
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  display: grid;
  grid-template-columns: 240px 240px 240px 240px;
}

/* 개별 카드 */
.product_card {
  padding: 10px;
  width: 240px;
  height: 420px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
}

.product_card:hover {
  background-color: rgb(247, 250, 253);
}


/* name, discountPrice, price  div */
.product_details {
  width: 230px;
  height: 110px;
  text-align: start;
  margin-left: 10px;
}


/* 상품 이미지 */
.product_img {
  margin-top: 5px;
  width: 210px;
  height: 210px;
}

.product_price {
  width: 210px;
  margin-top: 5px;
  text-decoration: line-through;
  color: #b2b2b2;
  font-weight: 600;
}

.product_disc_price {
  width: 210px;
  margin-top: 2px;
  font-weight: 600;
}

.product_rating {
  width: 210px;
  margin-top: 2px;
  display: flex;
  align-items: center;
}

.product_name {
  width: 210px;
}


/* 카테고리 버튼 */
.filter_button {
  width: 60px;
  height:25px;
  margin: 0 5px;
  border: none;
  background-color: white;
  font-weight: 600;
  color: #4483FD;
  cursor: pointer;
}

.filter_button:hover {
  border-bottom: 2px solid #4483FD;
}

.filter_buttons {
  width: 960px;
  margin:auto;
  align-items: center;
  justify-content: center;
  display: flex;
  
}


/* 검색 창 */
.search_input {
  margin-left: 290px;
  height: 25px;
}

/* 검색 버튼 */
.search_button {
  width: 60px;
  height:25px;
  margin: 0 5px;
  border: none;
  background-color: #4483FD;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.like_icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  vertical-align: middle;
}