.btn{
    margin-left: 2rem;
    display: flex;
    margin-top: 100px;
}

.inputWrapper{
    display: flex;
    align-items: center;
    width: 400px;
}

.menuInput {
    padding: 5px 10px;
    width: 70%;
    border-bottom: 1px solid black;
    border-radius: 10px;
    background-color: transparent;
}

